html {
  font-size: 16px;
  /* 1rem = 16px : taille de police par défaut */
}

/*
display: block; : div, p, header, footer, main
display: inline; : input, a, span

margin : à l'extérieur
padding : à l'intérieur
*/

header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1rem;
}

header > section {
  display: flex;
  gap: 1rem;
}

.header__section-top {
  flex: 1;
}

.header__title-container {
  flex: 1;
}

.header__menu-button,
.header__search-button {
  width: 1.5rem;
}

.nav__container {
  display: none;
}

@media screen and (min-width: 920px) {

  header {
    flex-direction: column;
  }

  header > section {
    width: 100%;
    flex: 1;
  }

  .header__menu-button {
    display: none;
  }

  .header__section-bottom nav {
    flex: 1;
  }

  .header__search-button {
    margin-right: 4rem;
  }

  .nav__container {
    display: flex;
    list-style-type: none;
    gap: 2rem;
  }
}